.row
{
	margin: 20px 0 0 0;
}

.row *
{
	display: inline-block;
	vertical-align: top;
}

#content
{
	max-width: 900px;
	padding: 20px;
}

#newAccount
{
	width: 400px;
}

#balanceTable
{
	margin: 20px 0 0 0;
}

#errPopup, #successPopup
{
	position: fixed;
	right: 20px;
	display: none;
	padding: 20px;
}

#errPopup
{
	top: 140px;
}

#successPopup
{
	top: 20px;
}

#demo-accounts
{
	margin: 20px 0 0 0;	
}
#demo-accounts h3
{
	margin: 20px 0 0 0;
}
#demo-accounts p
{
	margin: 4px 0;
	color: grey;
	font-style: italic;
}